.bgvideo{
    height: 70vh;  /*70% от открытого окна*/
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video{
    height: 70vh;  /*70% от открытого окна*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /*если видос  ввыйдет 
    за пределы контейнера - обрежется*/
    z-index: 1; /*слой  1*/
}

.videotext{
    color: aquamarine;
    z-index: 2;
}
.effect{
    height: 70vh;  /*70% от открытого окна*/
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover; /*если видос  ввыйдет 
    за пределы контейнера - обрежется*/
    z-index: 2; /*слой  1*/
    background-color: rgba(0, 0, 0, 0.205);
}